.side_angel {
	position: absolute;
	top: 0;
	left: 100px;
	z-index: -1;
}
.slider {
	position: static;
	width: 100%;
}



/* Auth & registration */
.auth-link {
	text-align: center;
	background-color: #09f;
	color: #fff;
	font-weight: normal;
	font-size : 12px;
	outline: none;
	border: none;
	display: inline-block;
	padding : 5px;
	margin-top: 0;
	border-radius: 5px;
	text-decoration: none;
}

.auth-service + .auth-service {
	margin-left: 15px !important;
}

ul.auth-services {
	text-indent: 0;
	position: static;
	width: 100%;
}
ul.auth-services li.auth-service {
	margin: 0;
	display: block;
	margin: 10px 0 !important;
	clear: both;
}
ul.auth-services li a.auth-link {
	width: 100%;
	height: 40px;
	line-height: 38px;
	padding: 0 0 0 20px;
	font-weight: bold;
	font-size: 15px;
	box-sizing: border-box;
	background-image: linear-gradient(#00aae4, #00a7e0, #019dd2);
	background-image: -webkit-linear-gradient(#00aae4, #00a7e0, #019dd2);
	border: 1px solid #0082dd;
	position: relative;
	color: #fff;
}
.auth-link:before {
	font-family: Verdana, sans-serif;
	position: absolute;
	left: 20px;
	top: 0px;
}
.auth-link.vkontakte:before {
	content: 'B';
	font-size: 24px;
}
.auth-link.vkontakte:after {
	content: 'Войти через VK';
}
.auth-link.facebook:before {
	content: 'f';
	font-size: 30px;
}
.auth-link.facebook:after {
	content: 'Войти через FB';
}
.account-panel {
	width: 100%;
}
ul.auth-services li a.auth-link span {
	display: none;
}
.services {
	position: static;
	background: none;
	width: 100% !important;
	height: auto;
}
.input_box__input {
	width: 100%;
}
.register-email {
	height: 180px;
	background: url('/common/img/pages/single/email.png') center bottom no-repeat;
	background-size: 60%;
}