.newsPanel__text {
	margin: 0 46px;
}

.news__cite {
	@if $isMobile != 1 {
		display: block;
		padding: 0 0 0 8px;
		border-left: 3px solid $ycm-border-color;
		font-style: italic;
		margin: 0 0 5px;
		word-wrap: break-word;

		.widget__itemAttach {

		}
	}
}



$ycm-blue : #1eb4e8;
$ycm-red  : #e63d60;
$ycm-grey : #b9b9b9;
$ycm-ylw-light : #ffde32;
$ycm-ylw-dark  : #edba00;
$ycm-grey-light: #f5f5f5;
$ycm-grey-dark : #a4a4a4;
$header-color : #727272;

.newslist {
	margin: 0;
	padding: 0;
	list-style: none;

	@if $isMobile == 1 {
		max-width: 728px;
		margin: auto;
	}
}


._deleted {
	.news_action-icon {
		position: relative;

		&:after {
			content: "\e02e";
			position: absolute;
			color: #fff;
			bottom: 1px;
			right: 3px;
			font-family: 'ycm';
			text-shadow: 0 0 3px #000;
		}
	}
}


.newslist__item {
	margin: 0 0 4px 0;
	padding: 10px;
	display: block;
	background: #fff;
	border-bottom: 1px solid #D6D7D9;
	@include border-radius(3px);
	@include box-sizing(border-box);

	&._new {
		background: #fefcf0;
	}

	&._moderator {
		background: lighten(pink, 10) !important;
		border-bottom: transparent;
		@include box-shadow(0 0 3px lighten($ycm-red, 10));

		.news_content:after {
			display: block;
			font-size: 10px;
			font-weight: bold;
			font-family: Verdana, Geneva, "DejaVu Sans", sans-serif !important;
			content: "!" !important;
			background-color: #CE2F51;
			@include background-image(linear-gradient(top, #F03D65, #CE2F51) !important);
		}

		.news_content_inner > a:first-child {
			color: $ycm-red;
		}
	}

	// Text content of news item
	& > .news_content_inner {
		font-size: 12px;
		width: auto;
		max-width: 80%;
		float: left;
		margin: 0;

		& > a {
			margin: 0;
			color : $ycm-blue;
			text-decoration: underline;
		}
	}

}

.newslist__time {
	color : $ycm-grey;
	font-style: italic;
	font-size: 11px;
	line-height: 1;
	display: block;
	width: 150px;
}



.news_content {
	padding: 0 52px;

	.news_content_inner {
		word-wrap: break-word;
		margin: 0;
	}

	a {
		color: $ycm-blue;
		font-weight: bold;
	}
}

.news_avatar-link {
	float: right;
	margin: 0 0 0 10px;
}



.news_action-icon,
.news_avatar-icon {
	width: 36px !important;
	height: 36px !important;
	border: 0;

	img {
		width: 100%;
		height: 100%;
		padding: 0;
		border-radius: 3px;
		border: 0;
	}
}

.news_avatar-icon {
	&._multiple {
		max-width: 16px;
		max-height: 16px;
		margin-bottom: 4px;

		&:nth-child(2n) {
			clear: left;
			margin-left: 0 !important;
		}

		& + & {
			margin-left: 4px;
		}
	}
}

.widgetActivity .news_action-icon {
	@include transition(all 0.1s ease-in);
	right: 10px;
	top: 10px;
	position: absolute;

	._notouch &:hover {
		width: 60px !important;
		top: 5px;
		right: 5px;
		height: 60px !important;
		z-index: 44;
		border-radius: 3px;
		@include box-shadow(0 0 3px black);
	}
}

.news_avatar-icon {
	float: left;
}

.news_action-icon {
	float: right;
}

.news_content {
	padding: 0 52px;

	.news_content_inner {
		word-wrap: break-word;
		margin: 0;
		overflow: hidden;
		position: relative;
		max-height: 56px;

		.newslist & {
			overflow: visible;
			max-height: none;
		}

		& > span {
			& .button {
				color: #fff !important;

				&.inactive {
					color: #999 !important;
				}
			}
		}
	}

	a {
		color: $ycm-blue;
		font-weight: bold;
	}
}

.newslist .newslist__item {
	padding: 10px 10px 10px 15px;
	position: relative;
	margin: 0 0 8px;

	&._badge .news_content:after {
		display: block;
		content: "\e00a";
		background-color: #fff000;
		color: #e2971d;
		line-height: 20px;
		text-shadow: 0 1px 1px rgba(255,255,255,.3);
		@include background-image(linear-gradient(top, #fff000, #ffd800));
	}

	&._like .news_content:after {
		display: block;
		content: "\e00e";
		background-color: #F03D65;
		@include background-image(linear-gradient(top, #F03D65, #CE2F51));
	}

	&._comment .news_content:after {
		display: block;
		content: "\e023";
		background-color: #5C9E16;
		@include background-image(linear-gradient(top, #6FBC1D, #5C9E16));
	}

	&._repost .news_content:after {
		display: block;
		content: "\e025";
		background-color: #FF9E45;
		@include background-image(linear-gradient(top, #F6CC2E, #FF9E45));
	}

	&._follow .news_content:after {
		font-size: 10px;
		display: block;
		content: "\e022";
		background-color: #058EE2;
		@include background-image(linear-gradient(top, #00ADE8, #058EE2));
	}

	&._shared .news_content:after {
		font-size: 10px;
		display: block;
		content : "\e031";
		background-color: #7a02c7;
		@include background-image(linear-gradient(top, #cb00ff, #7a02c7));
	}

	.news_content {
		min-height: 36px;

		&:after {
			position: absolute;
			display: none;
			width: 20px;
			height: 20px;
			line-height: 22px;
			font-family: 'ycm';
			border-radius: 100px;
			box-shadow: 0 0 5px #ccc;
			top: -1px;
			left: -10px;
			color: #fff;
			font-size: 12px;
			text-align: center;

			@if $isMobile == 1 {
				top: -2px;
				left: -2px;
			}
		}
	}
}