.tabs {
	width: 100%;
	height: 40px;
	font-size: 12px;
	line-height: 1.3;
	display: table;
}
.tabs__tab {
	height: 100%;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	background: #F7F7F7;
	@if $isMobile != 1 {
		width: 16.6%;
		 ._notouch &:hover  {
			background: #fcfcfc
		}
	} @else {
		width: 20%;
	}
}
.tabs__tab + .tabs__tab {
	border-left: 1px solid #EEF0F2;
}

.tabs__tab._active {
	border-bottom: 2px solid $ycm-blue !important;
	background: #fff;
}

.tabs__tab:first-child {
	border-bottom-left-radius: 3px;
}

.tabs__tab:last-child {
	border-bottom-right-radius: 3px;
}