@import "compass/css3";

.tooltip {
	position: absolute;
	z-index: 3000;
	display: block;
	font-size: 11px;
	line-height: 1.4;
	visibility: visible;
	@include opacity(0);

	&.in {
		@include opacity(0.8);
	}


	&.top {
		padding: 5px 0;
		margin-top: -3px;

		.tooltip-arrow {
			bottom: 0;
			left: 50%;
			margin-left: -5px;
			border-top-color: #000000;
			border-width: 5px 5px 0;
		}	
	}


	&.right {
		padding: 0 5px;
		margin-left: 3px;

		.tooltip-arrow {
			top: 50%;
			left: 0;
			margin-top: -5px;
			border-right-color: #000000;
			border-width: 5px 5px 5px 0;
		}
	}



	&.left {
		padding: 0 5px;
		margin-left: -3px;

		.tooltip-arrow {
			top: 50%;
			right: 0;
			margin-top: -5px;
			border-left-color: #000000;
			border-width: 5px 0 5px 5px;
		}
	}



	&.bottom {
		 padding: 5px 0;
		 margin-top: 3px;

		 .tooltip-arrow {
			top: 0;
			left: 50%;
			margin-left: -5px;
			border-bottom-color: #000000;
			border-width: 0 5px 5px;
		 }
	}


}


.tooltip-inner {
  max-width: 230px;
  padding: 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  @include border-radius(4px);
}


.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}



@mixin tooltip-colored( $color : false) {

}

.tooltip__error, .tooltip._error {

}
.tooltip__error.in {@include opacity(1)}
.tooltip__error.bottom .tooltip-arrow {border-bottom-color: #e33b5d}
.tooltip__error.left .tooltip-arrow {border-left-color: #e33b5d}
.tooltip__error.top .tooltip-arrow {border-top-color: #e33b5d}
.tooltip__error.right .tooltip-arrow {border-right-color: #e33b5d}
.tooltip__error .tooltip-inner {background-color: #e33b5d}




.tooltip__white {
    &.in{@include opacity(1)}
    &.bottom .tooltip-arrow {border-bottom-color: white}
    &.right .tooltip-arrow {border-right-color: white}
    &.left .tooltip-arrow {border-left-color: white}
    &.top .tooltip-arrow {border-top-color: white}
    & .tooltip-inner {
      background-color: white; color: #333;
      -webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.5);
      box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    }
}


.tooltip__noarrow .tooltip-arrow {display:none !important}

